@import url(
    'https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&family=Urbanist:wght@400;500;700&display=swap'

   

);
 @import url('https://fonts.googleapis.com/css2?family=Wallpoet&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Gelasio:ital@1&display=swap');


  @import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

  @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400&display=swap');


*,
*::before,
*::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-size: inherit;
    font-weight: inherit;
    color: inherit;
    border: none;
    box-shadow: 0 0 0 3px red;
}

:root{
    --Roboto: 'Roboto', sans-serif;
    --Playfair:'Playfair Display', serif;
    --couleur-principale: #9D937A;
    --couleur-principale-transparente: #9d937acb;
    --bleu-principal: #3864FF;
    --bleu-sombre: #001B7C;
    --gris-clair: #F4F4F4;
    --gris-fonce: #D9D9D9;
    
}

.container{
    max-width: 70%;
    margin: 0 auto;
    padding: 30px 0;
}
h1{
    font-family: 'wallpoet';
}
 h2, h3, h4, h5, h6{
    font-family: var(--Playfair);
}

p, a, input, li, label, legend, button{
    font-family: var(--Roboto);
}

a{
  
    text-decoration: none;
    text-underline-offset: 3px;
}

button{
    cursor: pointer;
}


/*                   HEADER                   */

.header-container{
    box-shadow: 0 0 10px rgb(107, 107, 107);
    font-weight: 500;
    font-size: 1.2rem;
}

.header-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center ;
    max-width: 90%;
    margin: 0 auto;
    height: 175px;
}

.header-wrapper a{
    color: inherit;
    text-decoration: none;
}

.header-wrapper img{
    width: 2rem;
}

.header-nav{
    display: flex;
    gap: 5rem;
}

.header-connection{
    padding: 10px;
    background-color: var(--bleu-principal);
    border-radius: 12px;
    color: white;
}


/*  ----------------------------------------  */


@media(max-width: 1400px){
    .container{
        max-width: 80%;
    }
}