
#background-video {
    height: 100vh;
    width: 100vw;
    object-fit: cover;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
  }
  
  .ban {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100vh;
  }
  
  .ban h1 {
   
    text-shadow: 0px 10px 10px 10px rgba(209, 12, 12, 0.25);
    color: white;
    font-size: 250px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: center;
    font-family: 'wallpoet';
  }
  .ban h2 {
    width: 68%;
    text-align: center;
    font-size: 2em;
  }

  /*main*/
.main_accueil {
    display: flex;
    flex-direction: column;
    color: white;
  }


  .bienvenue {
    height: 800px;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  

  .bienv{
    color: burlywood;
    font-weight: bold;
    font-size:6em;
    text-align: center;
  }


  .presentation {
    background: rgb(253, 253, 253);
    display: flex;
    width: 100%;
   
    
  }
  
  .presentation h2 {
    text-align: center;
    color: #1e1e1e;
    margin-top: 10%;
    font-size: 1.5em;
    font-family: bold;
  }
  
  .presentation_img {
    width: 60%;
  }
 
  .presentation_txt {
    width: 40%;
  }
  

  .presentation_img {
    
   
      top: 0;
      left: 0;
    
      height: 100vh;
     
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center center;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      animation: backgroundChange 15s linear infinite; /* Change l'arrière-plan toutes les 15 secondes */
      
    }
    /* Créez une animation nommée 'backgroundChange' */
    @keyframes backgroundChange {
        0% {
          background-image:  url("../../../media/images/fd_2.jpg") /* Première image */
        }
        33% {
          background-image:  url("../../../media/images/real.jpg"); /* Deuxième image */
        }
        66% {
          background-image:  url("../../../media/images/resi.jpg"); /* Troisième image */
        }
        100% {
          background-image:  url("../../../media/images/fd_2.jpg"); /* Retour à la première image */
        }
      } 
  
  .presentation_txt {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }
  .presentation_txt p {
    width: 80%;
    text-align: center;
    color: #1e1e1e;
  }

  
@media screen and (max-width: 768px) {
  .ban h1 {
    font-size: 6em;
  }
  .ban h2{
    font-size: 1em;
  }
  .bienvenue h2 {
 
    font-size: 2em;
  }
  .secteurs3, .chiffre_content, .secteurs_content {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .secteurs_content h3 {
    font-size: 1.5em;
  }

  .presentation h2 {
    margin-top: 10%;
    margin-bottom: 10%;
  }
  .presentation_txt p {
    font-size: 1em;
  }
  .presentation{
    
    flex-direction: column-reverse;
  }
  .presentation_img, .presentation_txt{
    width: 100%;
  }
  .actualité h3 {
    margin-top: 5%;
    margin-bottom: 5%;
  }

  .actu_card, .chiffre_card, .secteur_card {
    width: 80%;
  }

  .news_content input[type="text"] {
    width: 100%;
  }
  .title_secteur h2{
    font-size: 1.5em;

  }
  #habitation,#construction,#conciergerie {
    height: 300px;
    margin-bottom: 3%;
    width: 100%;
  }
}
