.header_service_conciergerie {
    background: linear-gradient(rgb(0 0 0 / 50%), rgb(0 0 0 / 45%)), url(https://images.pexels.com/photos/18189718/pexels-photo-18189718/free-photo-of-ville-vacances-gens-rue.jpeg?auto=compress&cs=tinysrgb&w=1600);
    background-position: center;
    background-size: cover; 
    }

/*section 2 : Galerie */
.service_galerie{
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.galerie_contenu {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
    align-items: center;
    height: 100%;
}
.galerie_row {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 70%;
    text-align: center;
    align-items: center;
}

.galerie_card{
        display: flex;
        flex-direction: column;
        justify-content: center;
        border-radius: 10px;
        align-items: center;
        height: 220px;
        border-radius: 10px;
box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    color: white;
    }

  .galerie_card:hover {
    box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1),0px 10px 15px -3px rgba(0,0,0,0.1);
}  
.galerie_card p {
font-size: 1.5em;
}

.galerie_card button {
    background: transparent;
    border: 1.5px solid white;
    border-radius: 10px;
    padding: 10px;
    font-family: 'Urbanist';
    font-size: large;
    color: white;
    box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);
}


.galerie_card button:hover{
    box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1),0px 10px 15px -3px rgba(0,0,0,0.1);
}

.galerie_card a {
    color: white;
    text-decoration: none;
}
/*card nettoyage*/
 #gal_nettoyage{
    width: 60%;
    background: linear-gradient(0deg, rgba(157, 147, 122, 0.70) 0%, rgba(157, 147, 122, 0.70) 100%), url('https://images.pexels.com/photos/10573242/pexels-photo-10573242.jpeg?auto=compress&cs=tinysrgb&w=1600'), lightgray 50% / cover no-repeat;
    background-position: center;
    background-size: cover;
   
 }
 #gal_nettoyage:hover{
    background: linear-gradient(0deg, rgb(157 147 122 / 46%) 0%, rgb(157 147 122 / 44%) 100%), url('https://images.pexels.com/photos/10573242/pexels-photo-10573242.jpeg?auto=compress&cs=tinysrgb&w=1600'), #d3d3d359 50% / cover no-repeat;
    background-position: center;
    background-size: cover;
 }
/*card garderie*/
 #gal_garderie{
    width: 30%;
    background: linear-gradient(0deg, rgba(157, 147, 122, 0.70) 0%, rgba(157, 147, 122, 0.70) 100%), url('https://images.pexels.com/photos/8363100/pexels-photo-8363100.jpeg?auto=compress&cs=tinysrgb&w=1600'), lightgray 50% / cover no-repeat;
    background-position: center;
    background-size: cover;
 }
 #gal_garderie:hover{
    background: linear-gradient(0deg, rgb(157 147 122 / 46%) 0%, rgb(157 147 122 / 44%) 100%), url('https://images.pexels.com/photos/8363100/pexels-photo-8363100.jpeg?auto=compress&cs=tinysrgb&w=1600'), #d3d3d359 50% / cover no-repeat;
    background-position: center;
    background-size: cover;
 }
 /*card transport*/
 #gal_transport{
    width: 30%;
    background: linear-gradient(0deg, rgba(157, 147, 122, 0.70) 0%, rgba(157, 147, 122, 0.70) 100%), url('https://images.pexels.com/photos/18189671/pexels-photo-18189671/free-photo-of-ville-route-circulation-gens.jpeg?auto=compress&cs=tinysrgb&w=1600'), lightgray 50% / cover no-repeat;
    background-position: center;
    background-size: cover;
 }
 #gal_transport:hover{
    background: linear-gradient(0deg, rgb(157 147 122 / 46%) 0%, rgb(157 147 122 / 44%) 100%), url('https://images.pexels.com/photos/18189671/pexels-photo-18189671/free-photo-of-ville-route-circulation-gens.jpeg?auto=compress&cs=tinysrgb&w=1600'), #d3d3d359 50% / cover no-repeat;
    background-position: center;
    background-size: cover;
 }
 /* card guide touristique */
 #gal_guidetour{
    width: 60%;
    background: linear-gradient(0deg, rgba(157, 147, 122, 0.70) 0%, rgba(157, 147, 122, 0.70) 100%), url('https://images.pexels.com/photos/4856284/pexels-photo-4856284.jpeg?auto=compress&cs=tinysrgb&w=1600'), lightgray 50% / cover no-repeat;
    background-position: center;
    background-size: cover;
}
#gal_guidetour:hover{
    background: linear-gradient(0deg, rgb(157 147 122 / 46%) 0%, rgb(157 147 122 / 44%) 100%), url('https://images.pexels.com/photos/4856284/pexels-photo-4856284.jpeg?auto=compress&cs=tinysrgb&w=1600'), #d3d3d359 50% / cover no-repeat;
    background-position: center;
    background-size: cover;
 }
 /*card nourriture*/
 #gal_nourriture{
    width: 60%;
    background: linear-gradient(0deg, rgba(157, 147, 122, 0.70) 0%, rgba(157, 147, 122, 0.70) 100%), url('https://images.pexels.com/photos/7262909/pexels-photo-7262909.jpeg?auto=compress&cs=tinysrgb&w=1600'), lightgray 50% / cover no-repeat;
    background-position: center;
    background-size: cover;
 }
 #gal_nourriture:hover{
    background: linear-gradient(0deg, rgb(157 147 122 / 46%) 0%, rgb(157 147 122 / 44%) 100%), url('https://images.pexels.com/photos/7262909/pexels-photo-7262909.jpeg?auto=compress&cs=tinysrgb&w=1600'), #d3d3d359 50% / cover no-repeat;
    background-position: center;
    background-size: cover;
 }
 /*card loisir*/
 #gal_loisirs{
    width: 30%;
    background: linear-gradient(0deg, rgba(157, 147, 122, 0.70) 0%, rgba(157, 147, 122, 0.70) 100%), url('https://images.pexels.com/photos/18189700/pexels-photo-18189700/free-photo-of-banc-paysage-gens-herbe.jpeg?auto=compress&cs=tinysrgb&w=1600'), lightgray 50% / cover no-repeat;
    background-position: center;
    background-size: cover;
 }
 #gal_loisirs:hover{
    background: linear-gradient(0deg, rgb(157 147 122 / 46%) 0%, rgb(157 147 122 / 44%) 100%), url('https://images.pexels.com/photos/18189700/pexels-photo-18189700/free-photo-of-banc-paysage-gens-herbe.jpeg?auto=compress&cs=tinysrgb&w=1600'), #d3d3d359 50% / cover no-repeat;
    background-position: center;
    background-size: cover;
 }
/*section 3 : Partenaire*/
.service_partenaire {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 70vh;
}
.service_partenaire h2 {
    font-weight: 400;
font-size: 2.2em; 
text-align: center;
}
.partenaire_contenu {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.partenaire_form {
    height: 350px;
    width: 350px;
    border-radius: 100%;
   /* border: 1px solid black;*/
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: 0px 0px 21px -3px rgba(0,0,0,0.1);
}
.partenaire_form img {
    width: 100%;
    height: 100%;
    border-radius: 100%;
}
/*section 4 : Aide */

.service_aide {
    background: #9C5928;
    height: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.aide_contenu{
    text-align: center;
}
.aide_contenu h2 {
        font-weight: 400;
        font-size: 2.2em;
}

.service_aide button {
    padding: 20px;
    border-radius: 10px;
    width: 270px;
    border: none;
    color: white;
    background: #1E1E1E;
    font-size: larger;
    font-family: 'Urbanist',sans-serif;
    box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);
  }

  .service_aide button:hover {
    box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1),0px 10px 15px -3px rgba(0,0,0,0.1);
  
  }
  .service_aide a{
    color: white;
    text-decoration: none;
  }
 
 /*  styles CSS pour les tablettes ici */
  @media only screen and (min-width: 768px) and (max-width:1024px){
    
    .header_service{
        height: 30vh;
    }
    .header_service h1 {
        font-size: 5.5em;
        margin-top: 150px;
    }
/*presentation*/
.service_presentation p {
 width: 90%;
}
    /*galerie*/
    .service_galerie {
        height: 70vh;
    }
    .galerie_contenu{
        justify-content: space-evenly;
    }
    .galerie_row {
        width: 90%;
        flex-wrap: wrap;
    }
/*partenaire*/
    .service_partenaire {
        height: 75vh;
        
    }
    .partenaire_contenu {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        /* overflow-x: scroll; */
        width: 100%;
        flex-wrap: wrap;
    }
    .service_aide {
        height: 30vh;
    }
  }

  /*  styles CSS pour les téléphones ici */
  @media only screen and (max-width: 767px) {
    .header_service {
        height: 35vh;
    }
    .header_service h1 {
        font-size: 3.5em;
        margin-top: 120px;
    }
    .service_presentation {
        height: 50vh;
    }
    .service_presentation p {
        width: 95%;
        font-size: medium;
    }

    .service_galerie {
        height: 100vh;
    }
    .galerie_row {
        width: 100%;
        flex-wrap: wrap;
    }
    .service_partenaire {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: auto;
    }
    .partenaire_contenu {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }
    .partenaire_form{
    height: 250px;
    width: 250px;
    margin-bottom: 5px;
    }
  }
 