.hero-banner {
    position: relative;
    height: 50vh;
    background-image: url('../../../media/images/fdbanner.jpg');
  
    background-size: cover;
    background-position: center;
    color: var(--bleu-principal);
   
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-shadow: 4px 4px 2px rgba(255, 255, 255, 0.6);
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero-content {
    margin-bottom: 5%;
}

.hero-banner h1 {
    font-size: 4.5em;
}

.hero-banner p {
    font-size: 1.5em;
    margin: 0;
}

.img-profil {
    position: absolute;
    width: 200px;
    height: 200px;
    border-radius: 50%;

    margin-top: 20px;
    top: 58%;
}

/* tab */

.tab-bar {
    display: flex;
    margin-bottom: 3%;
    justify-content: center;
    margin-top: 6%;
    font-size: 2.5em;

}

.tab-bar button {

    color: rgb(0, 0, 0);
    background-color: white;

    font-family: 'playfair';
    cursor: pointer;
    margin-right: 2%;
    margin-left: 2%;
}

.tab-bar button.active {
    color: var(--bleu-principal);
    font-weight: 600;


}

.tab-content {
    padding: 3%;

}

/*contact*/
.contactTab {
    width: 100%;
}

.container-contact {
    display: flex;
    gap: 2%;

}

.container-messagerie,
.container-etendre {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin-bottom: 3%;

}

.messagerie,
.etendu {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 3%;

}

.profil-messagerie {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.contactTab h3 {
    font-size: 2em;
    font-weight: 700;
    margin-bottom: 3%;
}

.messagerie .kebab-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 3em;

    color: #000000;

}

.messagerie .kebab-button:hover {
    color: #007bff;

}

.img-messagerie img {
    border-radius: 50%;
}



.add-button {
    background-color: #007bff;
    /* Bleu */
    color: #fff;
    /* Texte blanc */
    cursor: pointer;
    /* Curseur de pointeur */
    border: none;
    padding: 10px 10px;
    border-radius: 50%;
    margin-right: 5px;
    /* Espace entre les boutons */
}

.reject-button {
    background-color: #dc3545;
    color: #fff;
    cursor: pointer;
    border: none;
    padding: 10px 10px;
    border-radius: 50%;
    margin-left: 5px;

}

/*logement*/

.logement {
    display: flex;
    flex-direction: column;
    padding-left: 3%;
    align-items: center;
}

.logement-container {
    display: flex;
    width: 100%;

    flex-direction: column;
    margin-bottom: 3%;
}

.logement-container2> :last-child {
    align-self: flex-start;


}

.logement hr {

    width: 50%;

    border: 1px solid rgb(0, 0, 0);
    margin: 0 auto;
    margin-top: 5%;
    margin-bottom: 3%;
}

.text-container {
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 5%;
}

.text-container p {

    font-size: 1.5em;
    padding: 3%;
}

.stars-container {
    font-size: 1em;
    padding-left: 3%;
}

.logement-container2 {
    display: flex;
    flex-direction: row;

}

.image-container {
    width: 25%;
}

.image-container img {
    width: 100%;
    border-radius: 10px;

}

.star-icon {
    font-size: 2em;
}

.recomponse {
    display: flex;
    gap: 3%;
    padding-left: 3%;
    font-size: 1.5em;
    margin-top: 3%;
}

.logement .kebab-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 1.5em;
    /* Ajustez la taille de la police selon vos préférences */
    color: #333;
    font-size: 3em;
    font-weight: 700;
}

.logement .kebab-button:hover {
    color: #3864FF;
    /* Couleur du texte au survol, ajustez selon vos préférences */
}

/* Exemple de CSS pour les étoiles */
.star-icon {
    color: gold;
    /* Couleur de l'étoile */
}

/* Exemple de CSS pour l'icône de trophée */
.trophy-icon {
    color: gold;
    /* Couleur de l'icône de trophée */
}

.btn-bien {
    padding: 1%;
    border-radius: 5px;
    background: #3864FF;
    box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.25);
    color: white;

}

@media screen and (max-width: 768px) {
    .container-contact {
        flex-direction: column;
    }

    .container-messagerie,
    .container-etendre {

        width: 100%;

    }

    .tab-bar {
        margin-top: 10%;
        font-size: 1.5em;
    }

    .contactTab h3 {
        font-size: 1.5em;

        text-align: center;
    }
}