
/*              BARRE DE RECHERCHE            */

.search-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    box-shadow: inset 0 0 10px rgb(132, 132, 132);
 
}

.searchbar{
    background-color: var(--bleu-principal);
    padding: 15px 30px;
    border-radius: 10px;
    width: 50vw;
    max-width: 400px;
}

.searchbar input{
    background-color: transparent;
    font-size: 1.3rem;
}

.searchbar input::placeholder{
    color: rgba(255, 255, 255, 0.794);
}



/*  ----------------------------------------  */