.conception-container{
  background-image: url('../../../media/images/conception-background.jpeg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100%;
}

.conception-wrapper{
  height: 100%;
}

.conception-herobanner{
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.conception-herobanner-title{
  font-size: 4rem;
  font-family: var(--urbanist);
  font-weight: 700;
  color: white;
  text-align: center;
}

.conception-herobanner-title h1 {
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  text-shadow: 0 0 4px black;
}

.conception-herobanner-message{
  text-align: center;
  width: 100%;
  height: 350px;
  display: flex;
  padding: 20px 0;
  background-color: rgba(0, 0, 0, 0.442);
}

.conception-herobanner-message > div{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.conception-herobanner-message h2{
  font-size: 2.5rem;
  color: white;
  font-weight: 500;
  font-family: var(--urbanist);
}

.conception-herobanner-message p{
  font-size: 1rem;
  color: white;
  font-family: var(--fira);
}

.conception-herobanner-message h2,
.conception-herobanner-message p{
  max-width: 60%;
  margin: 0 auto;
}

.conception-pannel-container{
  height: 500px;
}

.conception-pannel-container h2{
  color: black;
  font-size: 3rem;
  font-family: var(--fira);
}

.conception-pannel-container p{
  color: black;
  font-size: 1.3rem;
  font-family: var(--fira);
  max-width: 50%;
  text-align: center;
}


.conception-pannel-container:nth-child(2){
  flex-direction: row-reverse;
  background-image: url('../../../media/images/plan-architectural-background.webp');
  height: 100%;
}

.conception-pannel-container:nth-child(2) .pannels-wrapper{
  background-color: rgba(0, 0, 0, 0.806);
}

.conception-pannel-container:nth-child(2) p, .conception-pannels-container:nth-child(2) h2{
  color: white;
  
}

.conception-pannel-container:first-child{
  background-image: url('../../../media/images/plan-beton_arme-background.webp');
  height: 100%;
}

.conception-pannel-container:last-child{
  background-image: url('../../../media/images/plan-3D-background.jpeg');
  height: 100%;
}

.conception-pannels-wrapper{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-position: center;
  background-repeat: no-repeat;
  width: 50%;
  background-color: var(--couleur-principale-transparente);
  gap: 4rem;
  height: 70dvh;
}

@media(max-width: 1200px){

  .conception-herobanner-title h1 {
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    text-shadow: 0 0 4px black;
  }

  .conception-herobanner-title{
    font-size: 6rem;
    font-family: var(--urbanist);
    font-weight: 700;
    color: white;
    text-align: center;
  }

  .conception-herobanner-message{
    text-align: center;
    width: 100%;
    height: 40dvh;
    display: flex;
    padding: 20px 0;
    background-color: rgba(0, 0, 0, 0.442);
  }  

  .conception-herobanner-message h2{
    font-size: 4rem;
    color: white;
    font-weight: 500;
    font-family: var(--urbanist);
  }
  
  .conception-herobanner-message p{
    font-size: 1.5rem;
    color: white;
    font-family: var(--fira);
  }

  .conception-herobanner-message h2,
  .conception-herobanner-message p{
    max-width: 80%;
    margin: 0 auto;
  }

  .pannels-container{
    background-image: none;
  }

  .conception-pannels-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-position: center;
    background-repeat: no-repeat;
    width: 50%;
    background-color: var(--couleur-principale-transparente);
    gap: 4rem;
    height: 50dvh;
  }

}

@media(max-width: 600px){


  .conception-herobanner-title{
    font-size: 3.5rem;
    font-family: var(--urbanist);
    font-weight: 700;
    color: white;
    text-align: center;
  }

  .conception-herobanner-message{
    text-align: center;
    width: 100%;
    height: 35dvh;
    display: flex;
    padding: 20px 0;
    background-color: rgba(0, 0, 0, 0.442);
  }  

  .conception-herobanner-message h2{
    font-size: 2.5rem;
    color: white;
    font-weight: 500;
    font-family: var(--urbanist);
  }
  
  .conception-herobanner-message p{
    font-size: 1rem;
    color: white;
    font-family: var(--fira);
  }

  .conception-herobanner-message h2,
  .conception-herobanner-message p{
    max-width: 100%;
    margin: 0 auto;
  }

  .pannels-container h2{
    color: black;
    font-family: var(--fira);
  }
  
  .conception-pannel-container p{
    color: black;
    font-size: 1rem;
    font-family: var(--fira);
    max-width: 50%;
    text-align: center;
  }
}
