

.location-flex{
  display: flex;
  gap: 5rem;
}

/*              DESCRIPTION             */


.location-description-container h1{
  font-size: 3rem;
  word-spacing: 0.5rem;
  font-weight: 500;
  margin-bottom: 2rem;
}

.location-description-container p{
  font-size: 1.2rem;
}

.location-description-wrapper{
  display: flex;
}

.location-description-wrapper p{
  flex: 2;
  padding-right: 4rem;
}

.location-links-wrapper{
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 0.7rem;
}

.location-links{
  display: flex;
  gap: 4rem;
}

.location-owner-container{
  display: flex;
  gap: 1rem;
}

.location-owner-image{
  height: 50px;
  width: 50px;
  
}

.location-owner-image img{
  width: 100%;
  border-radius: 50%;
}

.location-owner-name{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.location-flex-description{
  flex: 4;
}

.location-description-section{
  margin-bottom: 6rem;
}

.location-description-section p{
  padding-left: 1.5rem;
  margin: 2rem 0;
}

.location-services-section ul{
  padding-left: 3rem;
}

.location-services-section ul div{
  padding-bottom: 1.5rem;
}

.location-services-li{
  position: relative;
  font-size: 1.4rem;
  font-weight: 500;
  margin-bottom: 0.5rem;
}

.location-services-li::before{
  position: absolute;
  content: "";
  margin-left: -1.5rem;
  top: 50%;
  transform: translateY(-50%);
  width: 15px;
  height: 15px;
  background-color: var(--bleu-principal);
  border-radius: 50%;
}

hr{
  background-color: black;
  height: 2px;
  max-width: 60%;
  margin: 7rem auto;
}


/*  ----------------------------------  */


/*                PANNEL                */

.location-pannel-container{
  background-color: var(--bleu-principal);
  padding: 30px 0;
  border-radius: 12px;
  color: white;
}

.location-pannel-wrapper{
  max-width: 80%;
  margin: 0 auto;
}

.location-pannel-wrapper h3{
  font-size: 1.5rem;
}

.location-flex-pannel{
  flex: 2;
}

.location-pannel-price{
  font-weight: 700;
  font-size: 1.3rem;
}

.location-pannel-check-in-and-out{
  display: flex;
  gap: 1rem;
  margin: 2rem 0;
}

.location-pannel-check-in, .location-pannel-check-out{
  width: 100%;
  background-color: white;
  color: black;
  padding: 10px 20px;
  border-radius: 12px;
}

.location-pannel-guests{
  width: 100%;
  background-color: white;
  border-radius: 12px;
  color: black;
  display: flex;
  flex-direction: column;
  padding: 10px 20px;
  gap: 1rem;
  margin-bottom: 3rem;
}

#guests{
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  font-size: 1.4rem;
  cursor: pointer;
}

.location-pannel-summary{
  font-size: 1.3rem;
}

.location-pannel-summary span{
  font-weight: 700;
}

.location-pannel-summary-additions{
  margin-bottom: 3rem;
  display: flex;
  flex-direction: column;
  gap: 1.3rem;
}

.location-pannel-summary-additions a{
  color: white;
}

.location-pannel-summary-total{
  display: flex;
  justify-content: space-between;
}


/*  ----------------------------------  */


/*                AVIS                  */

.location-avis-best-seller{
  text-transform: uppercase;
  text-align: center;
  margin: 5rem 0;
}

.location-avis-best-seller h3{
  font-size: 1.5rem;
}

.location-avis-best-seller img{
  width: 200px;
  margin-bottom: 1.5rem;
}

.location-avis-best-seller p:last-child{
  font-size: 0.7rem;
}

.location-avis-score{
  font-size: 6rem;
}

.location-avis-flex{
  display: flex;
  align-items: start;
  margin-bottom: 3rem;
}

.location-avis-comments{
  flex: 5;
}

.location-avis-positive-title{
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
  text-transform: uppercase;
  gap: 2rem;
}

.location-avis-positive-title img{
  width: 4rem;
}

/*  ----------------------------------  */


/*              COMMENTS                */


.location-comment-container{
  margin: 3rem auto;
  max-width: 60%;
}

.comment-misc-container{
  display: flex;
  justify-content: space-between;
}

.comment-poster{
  display: flex;
  gap: 1rem;
  margin-bottom: 1rem;
}

.comment-poster img{
  height: 50px;
  width: 50px;
  border-radius: 50%;
}

.comment-poster-informations{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.comment-score{
  display: flex;
  gap: 1rem;
  margin-top: 1.3rem;
}

.comment-score img{
  width: 6rem;
}

.comment-score p{
  font-weight: 700;
}

.see-more-comments-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}

.see-more-comments-container a{
  color: black;
}

.see-more-comments{
  background-color: var(--bleu-principal);
  padding: 15px 45px;
  color: white;
  font-size: 2rem;
  border-radius: 25px;
  cursor: pointer;
}

/*  ----------------------------------  */


/*         PANNEAU EVALUATIONS          */

.location-avis-pannel{
  flex: 2;
  background-color: var(--bleu-principal);
  border-radius: 20px;
  padding: 30px 40px;
  color: white;
}

.location-avis-pannel h3{
  font-size: 3rem;
  font-weight: 500;
  margin-bottom: 3rem;
}

.location-avis-pannel a{
  color: white;
}

.location-avis-pannel hr{
  background-color: white;
  margin: 5rem auto;
  height: 5px;
  border-radius: 10px;
}

.avis-pannel-evaluations-stars{
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.avis-pannel-evaluations-stars div{
  display: flex;
  justify-content: space-between;
  font-size: 1.5rem;
}

.avis-pannel-evaluations-stars img{
  width: 10rem;
}

.location-avis-pannel-services{
  margin-bottom: 2rem;
}



/*  ----------------------------------  */