.location-description-container h1{
  font-size: 3rem;
  word-spacing: 0.5rem;
  font-weight: 500;
  margin-bottom: 2rem;
}

.location-description-container p{
  font-size: 1.2rem;
}

.location-description-wrapper{
  display: flex;
}

.location-description-wrapper p{
  flex: 2;
}

.location-links-wrapper{
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 0.7rem;
}

.location-links{
  display: flex;
  gap: 4rem;
}

.location-owner-container{
  display: flex;
  gap: 1rem;
}

.location-owner-image{
  height: 50px;
  width: 50px;
  
}

.location-owner-image img{
  width: 100%;
  border-radius: 50%;
}

.location-owner-name{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.location-description-section p{
  padding-left: 1.5rem;
}

.location-services-section ul{
  padding-left: 3rem;
}

.location-services-section ul div{
  padding-bottom: 1.5rem;
}

.location-services-li{
  position: relative;
  font-size: 1.4rem;
  font-weight: 500;
  margin-bottom: 0.5rem;
}

.location-services-li::before{
  position: absolute;
  content: "";
  margin-left: -1.5rem;
  top: 50%;
  transform: translateY(-50%);
  width: 15px;
  height: 15px;
  background-color: var(--bleu-principal);
  border-radius: 50%;
}