.connexion-container {
   
    margin: auto;
    padding: 20px; 
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.connexion-container h2 {
    color: #000;
    font-family: Urbanist;
    font-size: 2em;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-align: center;
    margin-bottom: 5%;
}

.form-connexion {
    display: flex;
    flex-direction: column;
    width: 20%;
  
   
}



.connexion-container label {
    font-weight: bold;
    margin-bottom: 3%;
    display: block;
    margin-top: 3%;

}

.connexion-container input {
    width: 100%;
    padding: 8px;
    margin-bottom: 5%;
    border: 1px solid #ccc;
    border-radius: 14px;
    box-sizing: border-box;

}

.error {
    color: #ff0000;
    font-size: 14px;
  
}

.password-input {
    position: relative;
}

.password-input input {
    padding-right: 30px;
}

.password-input svg {
    position: absolute;
    top: 40%;
    right: 10px;
    transform: translateY(-50%);
    cursor: pointer;
}

.btnConnecter  {
    background-color: #007bff;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 1.5em;
    text-align: center; 
    width: 280px;      
}
.btnConnecter a{
    color: #ffffff;
    list-style: none;
    text-decoration: none;
}

.Connecter-pas{
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.vnm{
    color: #000;
text-align: center;
font-family: Urbanist;
font-size: 1.2em;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.inscri{
    color: #3864FF;
font-family: Urbanist;
font-size: 1em;
font-style: normal;
font-weight: 700;
line-height: normal;
text-decoration-line: underline;
}
.btnInscription {
    margin-top: 10px;
    text-align: center;
}

.btnInscription a {
    color: #007bff;
    text-decoration: none;
    font-weight: bold;
}

.btn-option {
    margin-top: 20px;

    
}
.btn-option p{
  font-size: 1.3em; 
   

}

.option {
    display: flex;
    gap: 10px;
    justify-content: center;
    margin-top: 5%;
}

.option button {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 50%;
    padding: 10px;
    cursor: pointer;
}

.option button:hover {
    background-color: #f0f0f0;
}