
.projet-p {
    margin-top: 5%;
    display: flex;
    flex-direction: row;
    
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-around;
     
  }
  .projet-p img{
    width: 90%;
    height: 350px;
     border-radius: 10px;
     box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.43);
  }
  .image-projet{
    margin-top: 5%;
    margin-bottom: 5%;
  }
  .projet {
    display: flex;
    flex-direction: column;
    background-color: #9A6F1D;
    justify-content: space-evenly;
    text-align: center;
  }
  .projet h2{
    margin-top: 3%;
    font-size: 4em;
  }
  
  .p-projet {
    padding: 2%;
    width: 30%;
    background-color: white;
    margin-bottom: 3%;
    border-radius: 10px;
    
  }
  
  .p-projet p {
    text-align: center;
  }
  .p-projet h3 {
   font-size: 1.5em;
   font-weight: 700;
   height: 50px;
   
  }


  
/* Media Queries pour le rendu responsive */
@media screen and (max-width: 768px) {
  
  .img-qsn img {
   display: none;
}
.QSN p {
  text-align: center;
  width: 70%;
  margin-bottom: 10%;
}
.p-qsn {
  width: 100%;
  margin-bottom: 10%;
}
    .projet-p {
      flex-direction: column;
      align-items: center;
    }
  
   
    .p-projet {
      padding: 2%;
      width: 80%;
      background-color: white;
      margin-bottom: 10%;
      border-radius: 10px;
    }
    .projet-p img {
     
      height: 250px;

      
  }
  .p-projet h3 {
    font-size: 1em;
    
}
.projet h2 {
  
  font-size: 2.5em;
  margin-top: 5%;
  margin-bottom: 5%;
}
    
  }