.realisations-container{
    background-image: url('../../assets/images/realisations-background.jpeg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100%;
}

.realisations-wrapper{
    height: 100%;
}

.realisations-herobanner{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.realisations-herobanner-title{
    font-size: 4rem;
    font-family: var(--urbanist);
    font-weight: 700;
    color: white;
    text-align: center;
}

.realisations-herobanner-title h1 {
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    text-shadow: 0 0 4px black;
}

.realisations-herobanner-message{
    text-align: center;
    width: 100%;
    height: 350px;
    display: flex;
    padding: 20px 0;
    background-color: rgba(0, 0, 0, 0.442);
}

.realisations-herobanner-message > div{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.realisations-herobanner-message h2{
    font-size: 2.5rem;
    color: white;
    font-weight: 500;
    font-family: var(--urbanist);
}

.realisations-herobanner-message p{
    font-size: 1rem;
    color: white;
    font-family: var(--fira);
}

.realisations-herobanner-message button{
    font-size: 2rem;
    color: white;
    font-family: var(--fira);
    background-color: #9D937A;
    border-radius: 10px;
    box-shadow: 4px 4px 10px black;
    padding: 10px 40px;
    text-decoration: underline;
}


.realisations-herobanner-message h2,
.realisations-herobanner-message p{
    max-width: 60%;
    margin: 0 auto;
} 

.realisations-main{
    background-color: white;
    padding: 10dvh 0;
}

.realisations-main-wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5rem;
    
}

.realisations-main-image-container{
    width: 500px;
    height: 300px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.343);
}

.realisations-main-image-container img{
    width: 100%;
    height: 100%;
}

.realisations-main-text {
    height: 40dvh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 3dvh;
}

.realisations-main-text h2{
    font-size: 2.5rem;
    font-family: var(--fira);
}

.realisations-main-text p {
    font-size: 1.3rem;
    font-family: var(--urbanist);   
}

.realisations-main-text button{
    padding: 15px 40px;
    border-radius: 15px;
    font-size: 1.5rem;
    font-weight: 600;
    font-family: var(--urbanist);
    color: black;
    background-color: transparent;
    position: relative;
  }
  
  .realisations-main-text button:after{
    content: "";
    position: absolute;
    inset: 0;
    border: 3px black solid;
    border-radius: 15px;
  }
  
  .realisations-main-text button:hover{
    color: white;
    background-color: black;
    transition: ease-out 200ms;
}

@media(max-width:850px){
    .realisations-herobanner-message h2{
        font-size: 4.5rem;
    }

    .realisations-herobanner-message p{
        font-size: 1.4rem;
    }

    .realisations-herobanner-message h2,
    .realisations-herobanner-message p{
        max-width: 80%;
        margin: 0 auto;
    } 
}

@media(max-width:600px){

    .realisations-herobanner-title{
        font-size: 3rem;
    }

    .realisations-herobanner-message h2{
        font-size: 2.5rem;
    }

    .realisations-herobanner-message p{
        font-size: 1rem;
    }

    .realisations-herobanner-message h2,
    .realisations-herobanner-message p{
        max-width: 90%;
        margin: 0 auto;
    } 

    .realisations-herobanner-message{
        height: 250px;
    }

    .realisations-main-text {
        height: 100%;
        padding: 5rem 0;
    }

}

