.header_page_conciergerie {
    height: 55vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header_page_conciergerie h1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 6.5em;
    color: white;
    font-weight: 300;
    margin-top: 180px;
    font-family: 'Urbanist';
}


.presentation_conciergerie {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 2%;
}

.presentation_conciergerie h2 {
    font-family: 'Urbanist';
    font-weight: 500;
    font-size: 1.8em;
}
.presentation_conciergerie p { 
    width: 80%;
    text-align: center;
    font-size: larger;
    padding: 2%;
    font-family: 'Urbanist';
  }
  @media only screen and (max-width: 767px) and (orientation: portrait) {

    .header_page_conciergerie h1 {
        font-size: 4.5em;
    }

    .presentation_conciergerie p {
        width: 90%;
        font-size: large;
    }
  }