.imala-location-logo{
  text-align: center;
}

.imala-location-logo img {
  width: 200px;
}

.back-button{
  cursor: pointer;
  background-color: inherit;
  font-weight: 500;
  text-decoration: underline;
  position: relative;
}

.back-button::after{
  content: '←';
  position: absolute;
  left: -30px;
}

.paiement-flex-container{
  display: flex;
  gap: 4rem;
}

.paiement-mode-container{
  flex: 4;
}

.paiement-pannel-container{
  flex: 2;
}

.paiement-margin{
  max-width: 90%;
  margin: 0 auto;
}

.paiement-credit-card{
  border-radius: 20px;
  background-color: var(--gris-clair);
  margin: 5rem 0;
}

.paiment-credit-card-title, .paiement-paypal-title{
  display: flex;
  flex-direction: row-reverse;
  justify-content: start;
  align-items: center;
  padding: 3rem 0;
  gap: 2rem;
}

.paiement-client-informations{
  border-top: 1px rgba(0, 0, 0, 0.2) solid;
  border-bottom: 1px rgba(0, 0, 0, 0.2) solid;
  padding: 3rem 0;
}

.paiement-bold-text{
  font-weight: 700;
}

.paiement-card-informations{
  background-color: white;
  padding: 2rem;
}

.paiement-card-informations h3{
  font-size: 1.3rem;
  font-weight: 700;
}

.paiement-card-informations form{
  display: flex;
  flex-direction: column;
  gap: 3rem;
  margin-top: 3rem;
}

.paiement-card-informations form input{
  border-bottom: 3px rgba(0, 0, 0, 0.2) solid;
}

.card-owner-container, .card-number-container{
  display: flex;
  flex-direction: column;
}

.card-expiration-cryptogram{
  display: flex;
  justify-content: space-between;
}

.card-expiration-cryptogram div{
  display: flex;
  flex-direction: column;
}

.credit-card-valid{
  margin: 3rem;
}