.imala-location-logo{
  text-align: center;
}

.imala-location-logo img {
  width: 200px;
}

.back-button{
  cursor: pointer;
  background-color: inherit;
  font-weight: 500;
  text-decoration: underline;
  position: relative;
}

.back-button::after{
  content: '←';
  position: absolute;
  left: -30px;
}

.paiement-margin{
  max-width: 90%;
}


.paiment-credit-card-title, .paiement-paypal-title{
  display: flex;
  flex-direction: row-reverse;
  justify-content: start;
  align-items: center;
  padding: 3rem 0 3rem 6rem;
  gap: 2rem;
}

.paiment-credit-card-title label, .paiement-paypal-title label{
  font-size: 1.7rem;
  font-weight: 600;
  position: relative;
}

.paiment-credit-card-title input[type=radio], .paiement-paypal-title input[type=radio]{
  display: none;
}

.paiment-credit-card-title span, .paiement-paypal-title span{
  height: 20px;
  width: 20px;
  border-radius: 50%;
  border: 3px var(--gris-fonce) solid;
  display: block;
  position: absolute;
  left: -30px;
  top: 7px;
}

.paiment-credit-card-title span:after, .paiement-paypal-title span:after{
  content: "";
  height: 8px;
  width: 8px;
  background-color: var(--gris-clair);
  display: block;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) scale(0);
  border-radius: 50%;
  transition: 300ms ease-in-out 0s;
}

.paiment-credit-card-title input[type=radio]:checked ~ span:after, 
.paiement-paypal-title input[type=radio]:checked ~ span:after{
  transform: translate(-50%, -50%) scale(1);
}

.paiement-client-informations{
  border-top: 1px rgba(0, 0, 0, 0.2) solid;
  border-bottom: 1px rgba(0, 0, 0, 0.2) solid;
}

.paiement-mode-wrapper{
  background-color: var(--gris-clair);
}