.home-services-section{
    background-color: var(--couleur-principale);
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: var(--urbanist);
    padding: 20px 0 20px 0;
    height: 100svh;
    gap: 5%;
}

.home-services-section h2 {
    font-size: 2.5rem;
    text-align: center;
    max-width: 60%;
}

.home-services-section p {
    text-align: center;
    max-width: 1000px;
    font-size: 1.2rem;
}

.services-cards{
    display: flex;
    gap: 5rem;
    margin-top: 50px;
    height: 90%;
}

.services-cards div{
    height: 90%;
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    color: white;
    text-shadow: 2px 2px black;
    border-radius: 20px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 150%;
}

.services-cards div:hover{
    transform: scale(1.1);
    transition: ease-in-out 200ms;
}

.services-plan{
    background: url('../../../../media/images/services-plan.png');
}

.services-conception{
    background: url('../../../../media/images/services-conception.png');
}

.services-materials{
    background: url('../../../../media/images/services-materials.png');
}

@media(max-width: 850px){
    
    .home-services-section h2 {
        max-width: 80%;
    }
    
    .home-services-section p {
        text-align: center;
        max-width: 1000px;
        font-size: 1.2rem;
    }
    
    .services-cards{
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 5rem;
        margin-top: 50px;
    }
    
    .services-cards a{
        height: 100%;
        width: 80%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 2rem;
        color: white;
        text-shadow: 2px 2px black;
        border-radius: 20px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: 150%;
    }

}