.main_Devis h2 {
    font-size: 3em;
}
.main_Devis{
    text-align: center;
    color: white;
}
.Devis {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100vh;
   
}

.Devis h1 {

    text-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    color: white;
    font-size: 8em;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: center;
    font-family: 'wallpoet';

}

.titleDevis {

    height: 250px;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;

}

.titleDevis p {

    width: 60%;
    text-align: center;

}

.Devis img {
    height: 100vh;
    width: 100vw;
    object-fit: cover;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
}

.nosDevis {
    background-color: #9D937A;
    padding-bottom: 5%;
    color: black;

}
.secteurDevisTexte 
{
 margin-top: 3%;
 margin-bottom: 3%;
 width: 100%;
 display: flex;
 justify-content: center;
}
.secteurDevisTexte p{
    width: 50%;
}

.nosDevis h2{
    padding-top: 5%;
    padding-bottom: 5%;
}

.secteur-card-devis{
    color: white;
}
.secteur-card-devis {
    border-radius: 20px;
    width: 20%;
    height: 700px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15), 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    display: flex;flex-direction: column;
    justify-content: space-between;
}
.secteur-card-devis h3 {

   margin-top: 50%;
   font-size: 2em;  


}


.secteur-card-devis button{
    height: 10%;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    background-color: black;
}
.enclos {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

}

.secteurDevis {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-around;
    
}

#villa {
    background: linear-gradient(0deg,
            rgba(0, 0, 0, 0.5) 0%,
            rgba(0, 0, 0, 0.5) 100%),
        url("https://cdn.pixabay.com/photo/2015/11/06/11/39/single-family-home-1026369_1280.jpg"), lightgray 50% / cover no-repeat;
    background-position: center;
    background-size: cover;
}

#immeuble {
    background: linear-gradient(0deg,
            rgba(0, 0, 0, 0.5) 0%,
            rgba(0, 0, 0, 0.5) 100%),
        url("https://cdn.pixabay.com/photo/2013/09/14/19/53/city-182223_1280.jpg"), lightgray 50% / cover no-repeat;
    background-position: center;
    background-size: cover;
}

#enclos {
    background: linear-gradient(0deg,
            rgba(0, 0, 0, 0.286) 0%,
            rgba(0, 0, 0, 0.5) 100%),
        url("https://cdn.pixabay.com/photo/2017/09/09/22/05/site-2733678_1280.jpg"), lightgray 50% / cover no-repeat;
    background-position: center;
    background-size: cover;
}

#plan {
    background: linear-gradient(0deg,
            rgba(0, 0, 0, 0.286) 0%,
            rgba(0, 0, 0, 0.5) 100%),
        url("https://cdn.pixabay.com/photo/2015/09/29/22/49/blueprint-964630_1280.jpg"), lightgray 50% / cover no-repeat;
    background-position: center;
    background-size: cover;
}

.realDevis {
    display: flex;
    flex-direction: column;
    background-color: white;
}
.realDevis h2{
    color: black;
    margin-top: 3%;
    
}

.realContenu {
    display: flex;
    color: black;
    gap: 3%;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    padding: 5%;
}

.realContenu img {
    width: 100%;
}

.real1,
.real2,
.real3 {
    width: 30%;
    height: 350px;
    color: black;
}
.realContenu p{
    margin-top: 3%;
    margin-bottom: 3%;
    
    text-align: center;
}

/* Media Queries pour le rendu responsive */
@media screen and (max-width: 768px) {

    .main_Devis h1 {
        font-size: 4em;
    }
   
    .titleDevis p {

        font-size: 0.8em;
    
    }


.secteurDevis {
   flex-direction: column;
   
}
.secteur-card-devis{
    width: 80%;
    height: 400px;
    margin-bottom: 3%;
}
.realContenu{
    flex-direction: column;
}
.information-devis{
    font-size: 0.8em;
}
.secteur-card-devis button {
    height: 15%;}

    .secteur-card-devis h3 {
        margin-top: 40%;
        font-size: 1.5em;  
    
}}